{% INCLUDECSS 'css/spamsecure_acp.css' %}
{% include 'overall_header.html' %}

<h1>{{ lang('SPSE_TITLE') }}</h1>
	<p>{{ lang('SPSE_CONFIG_DESC', SPSE_EXT_NAME, SPSE_EXT_VER) }}<br><br>{{ lang('SPSE_SPAMSECURE_INFO') }}</p>

{% if SPSE_S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ SPSE_ERROR_MSG }}</p>
	</div>
{% endif %}

{% if SPSE_NOTES %}
	<div class="errorbox notice">
		{{ SPSE_NOTES }}
	</div>
{% endif %}

	<fieldset class="spamsecure-permission-info">
		{{ lang('SPSE_PERMISSION_BEFORE') }}<a href="{{ U_USER_PERMISSIONS }}"><strong>{{ lang('SPSE_USERS_PERMISSIONS') }}</strong></a> {{ lang('SPSE_ANDOR') }} <a href="{{ U_GROUP_PERMISSIONS }}"><strong>{{ lang('SPSE_GROUPS_PERMISSIONS') }}</strong></a>{{ lang('SPSE_PERMISSION_AFTER',  SPSE_EXT_NAME) }}
	</fieldset>


<form id="bruno_spamsecure_acp" name="bruno_spamsecure_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt><label for="spamsecure_invalid_chars">{{ lang('SPSE_INVALID_CHARS') ~ lang('COLON') }}</label><br><span>{{ lang('SPSE_INVALID_CHARS_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="spamsecure_invalid_chars" id="spamsecure_invalid_chars"maxlength="255" size="40" value="{{ SPSE_INVALID_CHARS }}"/></dd>
		</dl>
		<dl>
			<dt><label for="spamsecure_invalid_regex">{{ lang('SPSE_INVALID_REGEX') ~ lang('COLON') }}</label><br><span>{{ lang('SPSE_INVALID_REGEX_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="spamsecure_invalid_regex" id="spamsecure_invalid_regex" maxlength="255" size="40" value="{{ SPSE_INVALID_REGEX }}"/></dd>
		</dl>
		
	</fieldset>
	
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
	
	<p class="spamsecure_acp_copyright">
		{{ SPSE_EXT_NAME }} &copy; {{ lang('SPSE_LANG_AUTHOR') }}<br />
		{{ lang('SPSE_LANG_DESC') ~ lang('SPSE_LANG_EXT_VER') }} &bull; {{ lang('SPSE_LANG_AUTHOR') }}
	</p>
</form>
{% include 'overall_footer.html' %}
