{% INCLUDECSS 'css/spamsecure_acp.css' %}
{% include 'overall_header.html' %}

<h1>{{ lang('SPSE_TITLE') }}</h1>
	<p>{{ lang('SPSE_CONFIG_DESC', SPSE_EXT_NAME, SPSE_EXT_VER) }}<br><br>{{ lang('SPSE_SPAMSECURE_INFO') }}</p>

{% if SPSE_S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ SPSE_ERROR_MSG }}</p>
	</div>
{% endif %}

{% if SPSE_NOTES %}
	<div class="errorbox notice">
		{{ SPSE_NOTES }}
	</div>
{% endif %}

<fieldset class="spamsecure-permission-info">
	<legend>{{ lang('SPSE_PERM_TITLE') }}</legend>
	{{ lang('SPSE_PERMISSION_BEFORE') }}<a href="{{ U_USER_PERMISSIONS }}"><strong>{{ lang('SPSE_USERS_PERMISSIONS') }}</strong></a> {{ lang('SPSE_ANDOR') }} <a href="{{ U_GROUP_PERMISSIONS }}"><strong>{{ lang('SPSE_GROUPS_PERMISSIONS') }}</strong></a>{{ lang('SPSE_PERMISSION_AFTER',  SPSE_EXT_NAME) }}
</fieldset>

<form id="bruno_spamsecure_acp" name="bruno_spamsecure_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SPSE_SETTINGS_CHARS') }}</legend>
		<dl>
			<dt>
				<label for="spamsecure_invalid_chars_lang_kyrill">{{ lang('SPSE_LANG_KYRILL') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_LANG_KYRILL_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_kyrill" value="1" {{ SPSE_LANG_KYRILL  == 1 ?  'checked="checked"'}}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_kyrill" value="0" {{ SPSE_LANG_KYRILL  == 0 ?  'checked="checked"'}}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="spamsecure_invalid_chars_lang_chinese">{{ lang('SPSE_LANG_CHINESE') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_LANG_CHINESE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_chinese" value="1" {{ SPSE_LANG_CHINESE  == 1 ?  'checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_chinese" value="0" {{ SPSE_LANG_CHINESE  == 0 ?  'checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="spamsecure_invalid_chars_lang_hindi">{{ lang('SPSE_LANG_HINDI') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_LANG_HINDI_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_hindi" value="1" {{ SPSE_LANG_HINDI  == 1 ?  'checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_hindi" value="0" {{ SPSE_LANG_HINDI  == 0 ?  'checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="spamsecure_invalid_chars_lang_custom">{{ lang('SPSE_LANG_CUSTOM') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_LANG_CUSTOM_EXPLAIN') }}</span>
			</dt>
			<dd onchange="spamsecureACP.setState()">
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_custom" value="1" {{ SPSE_LANG_CUSTOM == 1 ? 'checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_lang_custom" id="spamsecure_invalid_chars_lang_custom_0" value="0" {{ SPSE_LANG_CUSTOM == 0 ? 'checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl id="dim_spse_coustom">
			<dt>
				<label for="spamsecure_invalid_chars_input_custom">{{ lang('SPSE_INVALID_CHARS') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_INVALID_CHARS_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="spamsecure_invalid_chars_input_custom" id="spamsecure_invalid_chars_input_custom" maxlength="255" size="100" value="{{ SPSE_INVALID_CHARS }}">
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="spamsecure_invalid_chars_counter_switch">{{ lang('SPSE_INVALID_CHARS_COUNTER_SWITCH') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_INVALID_CHARS_COUNTER_SWITCH_EXPLAIN') }}</span>
				</dt>
			<dd onchange="spamsecureACP.setState()">
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_counter_switch" value="1" {{ SPSE_INVALID_CHARS_COUNTER_SWITCH== 1 ? 'checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="spamsecure_invalid_chars_counter_switch" id="spamsecure_invalid_chars_counter_switch_0" value="0" {{ SPSE_INVALID_CHARS_COUNTER_SWITCH == 0 ? 'checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl id="dim_spse_counter">
			<dt>
				<label for="spamsecure_invalid_chars_counter">{{ lang('SPSE_INVALID_CHARS_COUNTER') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_INVALID_CHARS_COUNTER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" name="spamsecure_invalid_chars_counter" id="spamsecure_invalid_chars_counter" min="1" step="1.0" value="{{ SPSE_INVALID_CHARS_COUNTER }}">
			</dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('SPSE_SETTINGS_REGEX') }}</legend>
		<dl>
			<dt>
				<label for="spamsecure_invalid_regex">{{ lang('SPSE_INVALID_REGEX') ~ lang('COLON') }}</label><br>
				<span>{{ lang('SPSE_INVALID_REGEX_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="spamsecure_invalid_regex" id="spamsecure_invalid_regex" maxlength="255" size="100" value="{{ SPSE_INVALID_REGEX }}">
			</dd>
		</dl>
	</fieldset>
	
 	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" >&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
	
	<p class="spamsecure_acp_copyright">
		{{ SPSE_EXT_NAME }} &copy; {{ lang('SPSE_LANG_AUTHOR') }}<br>
		{{ lang('SPSE_LANG_DESC') ~ lang('SPSE_LANG_EXT_VER') }} &bull; {{ lang('SPSE_LANG_AUTHOR') }}
	</p>
</form>

<script>
	var spamsecureACP = {};
</script>
{% INCLUDEJS 'acp_spsedimmer.js' %}
{% include 'overall_footer.html' %}
